html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-size: 1.1em;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 8px;
}

.navbar-inverse .navbar-brand {
    color: #efefef;
}

.title-raspberry-pi {
    margin-top: 8px;
    margin-right: 8px;
}

.compass {
    position: relative;
    width: 100%;
    height: 160px;
    /*margin: 20px auto;*/
    background: #222;
    /*padding: 20px;*/
    border-radius: 8px;
    border: 2px solid #444;
    overflow: hidden;
}

.compass .disc {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 200;
    background: url('/public/media/compass.svg');
    width: 150px;
    height: 150px;
    background-size: 100%;
}

.compass .arrow {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1000;
    background: url('/public/media/arrow.svg');
    width: 150px;
    height: 150px;
    background-size: 100%;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@keyframes heartbeat {
    0% {
        transform: scale( .75);
    }
    20% {
        transform: scale( 1);
    }
    40% {
        transform: scale( .75);
    }
    60% {
        transform: scale( 1);
    }
    80% {
        transform: scale( .75);
    }
    100% {
        transform: scale( 1);
    }
}

#heart {
    margin-top: 5px;
    position: relative;
    width: 60px;
    height: 40px;
}

.heartbeat-pulse {
    animation: heartbeat 0.65s 1;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: red;
    -moz-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

#status-icons {
    margin-top: 12px;
}

#connected.connected {
    color: #00ff00;
}

#connected.disconnected {
    color: #444444;
}

#heartbeat {
    color: #ff0000;
}

.fa-battery-0 {
    color: #444444;
}

.fa-battery-1 {
    color: rgba(255,0,0,1);
}

.fa-battery-2 {
    color: rgba(255,128,32,1);
}

.fa-battery-3 {
    color: rgba(255,255,0,1);
}

.fa-battery-4 {
    color: rgba(0,255,0,1);
}

.map-panel-body {
    padding: 0;
}

/*.fa-2x {*/
    /*font-size: 1.5em;*/
/*}*/
